{% extends view_path("layout") %}
{%  block content %}
    {% include view_path("header") %}

    <div class="container">

        {% block body_content %}
        {% endblock %}
        <div ng-view class="space-above"></div>

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>

    </div>
{% endblock %}

{%  block scripts %}
    <link rel="stylesheet" href="js/pagedown-bootstrap/Markdown.Editor.css">

    <script type="text/javascript" src="js/moment/moment.min.js"></script>
    <script type="text/javascript" src="js/pagedown-bootstrap/Markdown.Converter.js"></script>
    <script type="text/javascript" src="js/pagedown-bootstrap/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="js/pagedown-bootstrap/Markdown.Editor.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/require.js"></script>
    <script type="text/javascript" src="js/client.js"></script>
    <script type="text/javascript">
        ClientApp.createFrom("{{ angular_app_name }}");



    </script>
{% endblock %}


{% block additional_css %}
    <link href="css/angular-app.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
{% endblock %}