{% let page_title = 'Page not found' %}
{% include view_path("common") %}

{% extends view_path("default_body") %}

{% block body_content %}
    <article>
        <div class="span9 page-not-found">

            <h1>404. Pagina non trovata.</h1>


            <p>La pagina [{{ results.url }}] Non esiste in questo sito.</p>
        </div>
    </article>

{% endblock  %}
