{% extends "./layout.jinja2" %}

{% block content %}
    <article>
        <div class="span9 page-not-found">

            <h1>404. Pagina non trovata.</h1>


            <p>La pagina [{{ results.url }}] Non esiste in questo sito.</p>
        </div>
    </article>

{% endblock  %}
